<fieldset>
    <legend>DATOS ACADÉMICOS</legend>
    <div class=""  id="">
        <div class="grid-dos-columnas">
            <label for="InputInstitucionM">Institución de tus estudios profesionales</label>
            <label for="pInputinstitucionM">País la institución</label>
            <input type="text" placeholder="Institución" disabled value="<%=JsonBusqueda.InstitucionM%>">
            <input type="text" placeholder="País" disabled value="<%=JsonBusqueda.pinstitucionM%>">

            <label for="InputtitulacionM">¿Estás titulado?</label>         
            <label for="InputcarreraM">¿En qué carrera?</label>
            <input type="text" placeholder="Titulado" disabled value="<%=JsonBusqueda.tituladoMaestriaM%>">            
            <input type="text" placeholder="Carrera" disabled value="<%=JsonBusqueda.carreraM%>">
        </div>                            
    </div>

    <label for="InputxpPM">Experiencia Profesional:</label>
    <textarea disabled><%=JsonBusqueda.xpPM%></textarea  >
        
    <label for="InputxpDM">Experiencia Docente:</label>
    <textarea disabled><%=JsonBusqueda.xpDM%> </textarea >
    
    <label>¿Has asistido a los cursos propedéuticos de este Departamento?</label>

    <div class="alinear-centro">
        <label for="InputrsipropM"></label>
        <input type="text" placeholder="Cursos" disabled value="<%=JsonBusqueda.propedeuticoM%>" > 
    </div> 
    <label for="InputaniospropM">¿En qué año(s)?</label>
    <input type="text" placeholder="Año(s) Propedeuticos" disabled value="<%=JsonBusqueda.aniospropM%>" >

    <label for="InputmotivoM">Motivo por el cuál desea ingresar al Posgrado y a qué línea de investigación desea integrarse</label>
    <textarea disabled><%=JsonBusqueda.motivoM%></textarea>
        
</fieldset>