<div class="vista-mi-solicitud">
<fieldset>
    <legend>DATOS ACADÉMICOS</legend>
    <% master.forEach(function(pre){ %>
    <div class="grid-dos-columnas">
        <label for="Institucion">Institución de tus estudios profesionales</label>
        <label for="pinstitucion">País la institución</label>
        <p><%= pre.InstitucionM %></p>
        <p><%= pre.pinstitucionM %></p>
    </div>     

    <div class=""  id="formaMaestria" style="display: none;">
        <label for="titulacionMaestria">¿Estás titulado?</label>
        <p><%= pre.titulacionMaestriaM %></p>

        <div class="grid-dos-columnas">
            <label for="carreraM">¿En qué carrera?</label>
            <p><%= pre.carreraM %></p>
        </div>                            
    </div>    
    

    <label for="xpP">Experiencia Profesional:</label>
    <p><%= pre.xpPM %></p>
        
    <label for="xpD">Experiencia Docente:</label>
    <p><%= pre.xpDM %></p>
    
    <label>¿Has asistido a los cursos propedéuticos de este Departamento?</label>
    <p><%= pre.propedeuticoM %></p>
    <label for="aniosprop">¿En qué año(s)?</label>
    <p><%= pre.aniospropM %></p>

    <label for="motivo">Motivo por el cuál desea ingresar al Posgrado y a qué línea de investigación desea integrarse</label>
    <p><%= pre.motivoM %></p>
        

</fieldset>

<fieldset>
    <legend>ANEXO</legend>
    <p><%= pre.archivosubido1M %></p>
    <% }) %>
</fieldset>
</div>
