<div class="vista-mi-solicitud">
    <fieldset>
        <legend>DATOS PERSONALES</legend>
        <% preg.forEach(function(pre){ %>
        <label for="nombre">NOMBRE(S)*</label>
        <!--<input type="text" id="nombre" placeholder="Nombre(s)">-->
        <p><%= pre.nombre %></p>
        
        <div class="grid-dos-columnas">
            <label for="apaterno">Apellido Paterno*</label>
            <label for="amaterno">Apellido Materno*</label>

            <p><%= pre.apaterno %></p>
            <p><%= pre.amaterno %></p>

            <label for="fecha">FECHA DE NACIMIENTO*</label>
            <label for="lugar">LUGAR DE NACIMIENTO*</label>
            <p><%= pre.fecha %></p>
            <p><%= pre.lugar %></p>

            <label for="nacionalidad">NACIONALIDAD*</label>
            <label for="civil">ESTADO CIVIL*</label>
            <p><%= pre.nacionalidad %></p>
            <p><%= pre.civil %></p>

            <label for="curp">CURP*</label>
            <label for="dependencias">DEPENDENCIAS*</label>
            <p><%= pre.curp %></p>
            <p><%= pre.dependencias %></p>
        </div>
    </fieldset>
    <fieldset>
        <legend>DATOS DE CONTACTO</legend>
        <div class="grid-dos-columnas">
            <label for="telefono">TELÉFONO CELULAR*</label>
            <label for="email">E-mail*</label>
            <p><%= pre.telefono %></p>
            <p><%= pre.email %></p>

            <label for="skype">CUENTA SKYPE</label>
            <label for="fb">Cuenta de FB (Link)</label>
            <p><%= pre.skype %></p>
            <p><%= pre.fb %></p>
        </div>
    </fieldset>
    <fieldset>
        <legend>DOMICILIO</legend>
        <div class="domicilio-calle-num-vista">
            <!--<label for="Calle">Calle</label>-->
            <p><span>Calle:</span> <%= pre.Calle %></p>
            <!--<label for="NoExt">No. Ext</label>-->
            <p><span>No. Ext.:</span><%= pre.NoExt %></p>
            <!--<label for="NoInt">No. Int</label>-->
            <p><span>No. Int.:</span><%= pre.NoInt %></p>
        </div>
        <div class="grid-dos-columnas">
            <!--<label for="Colonia">Colonia</label>-->
            <p><span>Col. </span><%= pre.Colonia %></p>
            <!--<label for="Ciudad">Ciudad</label>-->
            <p><span>Ciudad. </span><%= pre.Ciudad %></p>
            <!--<label for="Estado">Estado</label>-->
            <p><span>Estado. </span> <%= pre.Estado %></p>
            <!--<label for="CP">CP</label>-->
            <p><span>CP </span><%= pre.CP %></p>

        </div>
        <% }) %>
    </fieldset>
    <div class="grid-dos-columnas">
        <input type="submit" value="Guardar" class="boton boton-amarillo">
    </div>    
</div>