<fieldset>
    <legend>Informacion General </legend>
    <div class="" id="formaDoctorado1">
        <div class="grid-dos-columnas">
            <label for="InputInstitucionD">Institución de tus estudios de la maestria</label>
            <label for="InputpinstitucionD">País de la institución</label>
            <input type="text" name="InstitucionD" id="InputInstitucionD" placeholder="Institución de maestría"    value="<%=JsonBusquedaD.InstitucionD%>">
            <input type="text" name="pinstitucionD" id="InputpinstitucionD"  placeholder="País"    value="<%=JsonBusquedaD.pinstitucionD%>">>
        </div>
    
        
        <div class="grid-dos-columnas">
            <label for="InputInstitucionPosgradoD">Institución de tus estudios de posgrado</label>
            <label for="InputpInstitucionPosgradoD">País de la institución</label>
            <input type="text" name="InstitucionPosgradoD" id="InputInstitucionPosgradoD"  placeholder="Institución de posgrado"   value="<%=JsonBusquedaD.InstitucionPosgradoD%>">
            <input type="text" name="pInstitucionPosgradoD" id="InputpInstitucionPosgradoD" placeholder="País"    value="<%=JsonBusquedaD.pInstitucionPosgradoD%>"> 
        </div>

        <label for="tituladoDoctorado">¿Estás titulado de tu ultimo grado de estudios?</label>

        <div class="alinear-centro">
            <label for="InputrsitituladoD">Sí</label>
            <input type="radio" name="tituladoDoctoradoD" value="si" id="InputrsitituladoD"    >
            <label for="InputrnotituladoD">No</label>
            <input type="radio" name="tituladoDoctoradoD" value="no" id="InputrnotituladoD"    >
            
        
        </div>
    </div>

    <label for="InputxpPD">Experiencia Profesional:</label>
    <textarea name="xpPD" id="InputxpPD"   ><%=JsonBusquedaD.xpPD%></textarea >
        
    <label for="InputxpDD">Experiencia Docente:</label>
    <textarea name="xpDD" id="InputxpDD"   ><%=JsonBusquedaD.xpDD%></textarea>
    
    <label>¿Has asistido a los cursos propedéuticos de este Departamento anteriormente?</label>

    <div class="alinear-centro">
        <label for="InputrsipropD">Si</label>
        <input type="radio" name="propedeuticoD" value="si"  id="InputrsipropD"    value="<%=JsonBusquedaD.propedeuticoD%>">
        <label for="InputrnopropD">No</label>
        <input type="radio" name="propedeuticoD" value="no" id="InputrnopropD"    value="<%=JsonBusquedaD.propedeuticoD%>">
    </div> 
    <label for="InputaniospropD">¿En qué año(s)?</label>
    <input type="text" name="aniospropD" id= "InputaniospropD"placeholder="Año(s) Propedeuticos"    value="<%=JsonBusquedaD.aniospropD%>">

    <label for="InputmotivoD">Motivo por el cuál desea ingresar al Posgrado y a qué línea de investigación desea integrarse</label>
    <textarea name="motivoD" id="InputmotivoD"   ><%=JsonBusquedaD.motivoD%></textarea >
        

</fieldset>

    <div class="" id="archivosDoctorado">
        <input type="file" style="display: none;"  name="archivosubido1D" id="Inputarchivosubido1D" accept="application/pdf" value="<%=JsonBusquedaD.archivosubido1D%>">                               
    </div>