<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Solicitud CICATA</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <!--
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="js/valdiacionesForma.js"></script>-->
        <script src="../js/funciones.js"></script>
        <script src="../js/valdiacionesForma.js"></script>
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel='stylesheet' href='../css/styles.css' />  
    </head>
    <body>

        <header class="site-header inicio">
            <div class="contenedor">
                <div class="barra">
                    <a href="/">
                        <p class="no-margin fw-600">IPN</span>
                        </p>
                    </a>
                </div>
            
                <div class="texto-header">
                    <!-- Contenedor -->
                    <h1 class="fw-600 centrar-texto">Solicitud de Admisión al Departamento del Posgrado de Física Educativa
                    </h1>
                    <p>Proceso de Ingreso al Semestre A-2021</p>
                </div>
            </div>
        </header>

        <main class="contenedor seccion">
            <!-- MENU -->
            <!-- Tab links -->
            <div class="tab">
                <button class="tablinks" onclick="changeTab(event, 'tabVerMiSolicitud')">Ver solicitud (Coord)</button>
            </div>
            
            <!-- Tab content -->
            <div id="tabLlenarSolicitud" class="tabcontent">
            <!-- FORMULARIO PERSONAL -->  
            </div>

            <div id="tabVerMiSolicitud" class="tabcontent" style="display: block;">    
                <div class="grid centrar-columnas forma">
                    <div class="forma">
                        <button class="boton boton-verde"><a style="text-decoration: none; color: white;" href="\">Regresar</a></button>
                        <div class="grid centrar-columnas forma">                        
                            
                            <div class="contacto columnas-10 " action="" id="formaVistaiSolicitudM" style="display: block;">  
                                <nav>
                                    <div class="nav nav-tabs tab seccion" id="nav-tab" role="tablist">
                                    <button value="11" onclick="HideTabTipoForma(this)"><a class="nav-item nav-link active" id="coordPersonalM-tab" data-toggle="tab" href="#coordPersonalM" role="tab" aria-controls="coordPersonalM" aria-selected="true">Datos Generales</a></button>
                                    <button  value="12" onclick="HideTabTipoForma(this)"><a class="nav-item nav-link" id="coordAcademicoM-tab" data-toggle="tab" href="#coordAcademicoM" role="tab" aria-controls="coordAcademicoM" aria-selected="false">Datos Académicos</a></button>
                                    </div>
                                </nav>                                                          
                                <form method="POST" class="contacto columnas-10 " action="/personal_data" onsubmit="validarFormaMaestria()" id="formaMasterCoord"  enctype="multipart/form-data">                                    
                                    

                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active tabcontent2" id="coordPersonalM" role="tabpanel" aria-labelledby="coordPersonalM-tab" style="display: block;">
                                            <%- include ('SolicitudPM') %>
                                        </div>
                                        <div class="tab-pane fade tabcontent2" id="coordAcademicoM" role="tabpanel" aria-labelledby="coordAcademicoM" style="display: none;">
                                            <%- include ('SolicitudAM')%>
                                        </div>
                                    </div>                             
                                    <fieldset>
                                        <legend>VALIDACIÓN COORDINADOR</legend>
                                        <div class="grid-dos-columnas">
                                            <label for="EstadoSolicitudD">Estado de la solicitud</label>
                                            <label for="FechaSolicitudD">Fecha de la solicitud</label>
                                            <input type="text" placeholder="EstadoSolicitudD*" name="validacionM" value="<%=JsonBusquedaM.validacionM%>">
                                            <input type="text" placeholder="FechaSolicitudD*"  name="dateM" value="<%=JsonBusquedaM.dateM%>">
                                            
                                        </div>
                                        <label for="CoordComentarioM">Comentarios del coordinador</label>
                                        <textarea id="CoordComentarioM" name="comentarioM"><%=JsonBusquedaM.comentarioM%></textarea>
                                        <div class="grid-dos-columnas">
                                            <select name="validacionM" id="opcionesValidacionM" >
                                                <option value="Pendiente" selected>Pendiente</option>
                                                <option value="Aceptar">Aceptar</option>
                                                <option value="Rechazar">Rechazar</option>
                                                <option value="Condicionar">Condicionar</option>
                                            </select>
                                            <button type="submit" value="Validar" id="botonMValidar" name="orden" style="padding: 1.6rem; margin: 0 0 2rem;" class="boton boton-amarillo"></button>                                        
                                        </div> 
                                    </fieldset>                                                      
                                    <legend>*datos obligatorios</legend>
                                </form> 
                            </div> 
                        </div>
                    </div> 
                </div> 
            </div>
                
        </main>
    </body>
</html>